@import "./base.css";

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
  font-family: 'mt';
  background-color: #0D1018;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.flex{
  display: flex;
}
.flex-1{
  flex:1;
}
.flex-y{
  flex-direction: column;
}
.flex-sc{
  align-items: center;
}
.flex-mc{
  justify-content: center;
}
.flex-bt{
  justify-content: space-between;
}
.flex-ar{
  justify-content: space-around;
}
.f14{
  font-size: .875rem;
}
.f20 {
  font-size: 1.25rem;
}
.f24{
  font-size: 1.5rem;
}
.f48{
  font-size: 3rem;
}
.f96{
  font-size: 6rem;
}
.color0D1018{
  color:#0D1018;
}
.color909399{
  color:#909399;
}
.color07C160{
  color: #07C160;
}
.colorfff{
  color: #fff;
}
.bgc0D1018{
  background-color: #0D1018;
}
.h104{
  height: 6.5rem;
}
.mrr40{
  margin-right: 2.5rem;
}
.fw800{
  font-weight: 800;
}
.fw400{
  font-weight: 400px;
}
.fw500{
  font-weight: 500;
}
.fw600{
  font-weight: 600;
}
.fw700{
  font-weight: 700;
}
.mrr35{
  margin-right: 2.1875rem;
}
.mrr17{
  margin-right: 1.0625rem;
}
.pointer{
  cursor: pointer;
}
.mrt32{
  margin-top: 2rem;
}
.mrb60{
  margin-bottom: 3.75rem;
}
.mrb164{
  margin-bottom: 10.25rem;
}
.mrr20{
  margin-right: 1.25rem;
}
.w58{
  width: 3.625rem;
}
.h58{
  height: 3.625rem;
}
.mrt24{
  margin-top: 1.5rem;
} 
.mrb16{
  margin-bottom: 1rem;
}
.mrb14{
  margin-bottom: .875rem;
}
.mrr60{
  margin-right: 3.75rem;
}
.br20{
  border-radius: 1.25rem;
}
.bgcfff{
  background-color: #fff;
}
.mrl10{
  margin-left: .625rem;
}
.f12{
  font-size: .75rem
}
.w40{
  width: 2.5rem;
}
.h24{
  height: 1.5rem;
}